In [3]:
import pandas as pd
print(pd.__version__)

2.3.0

In [4]:
import pandas as pd
import numpy as np
import seaborn as sns

### Pivot: Only used on categorical columns.

In [5]:
df= sns.load_dataset("tips")
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [6]:
# Question: What is the total avg bill for each gender?
df.groupby('sex')['total_bill'].mean()

/var/folders/xw/_lnfz_x56cn_zn8_slshkwp80000gn/T/ipykernel_2510/1771901760.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby('sex')['total_bill'].mean()

sex
Male      20.744076
Female    18.056897
Name: total_bill, dtype: float64

In [7]:
# Question: What is the total avg bill for each gender and smoking (M smoking, M non-smoking , etc)?
df.groupby(['sex','smoker'])['total_bill'].mean()

/var/folders/xw/_lnfz_x56cn_zn8_slshkwp80000gn/T/ipykernel_2510/3912945094.py:2: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['sex','smoker'])['total_bill'].mean()

sex     smoker
Male    Yes       22.284500
        No        19.791237
Female  Yes       17.977879
        No        18.105185
Name: total_bill, dtype: float64

In [8]:
df.groupby(['sex','smoker'])['total_bill'].mean().unstack()

/var/folders/xw/_lnfz_x56cn_zn8_slshkwp80000gn/T/ipykernel_2510/2279680371.py:1: FutureWarning: The default of observed=False is deprecated and will be changed to True in a future version of pandas. Pass observed=False to retain current behavior or observed=True to adopt the future default and silence this warning.
  df.groupby(['sex','smoker'])['total_bill'].mean().unstack()

smoker        Yes         No
sex
Male    22.284500  19.791237
Female  17.977879  18.105185

In [ ]:
# Instead we can use pivot function: 
df.pivot_table(index= 'sex', columns='smoker', values='total_bill')# default agg func is mean

/var/folders/xw/_lnfz_x56cn_zn8_slshkwp80000gn/T/ipykernel_2416/1226227100.py:3: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  df.pivot_table(index= 'sex', columns='smoker', values='total_bill')

smoker        Yes         No
sex
Male    22.284500  19.791237
Female  17.977879  18.105185

In [9]:
df.pivot_table(index= 'sex', columns='smoker', values='total_bill', aggfunc='sum')

/var/folders/xw/_lnfz_x56cn_zn8_slshkwp80000gn/T/ipykernel_2510/2958963643.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  df.pivot_table(index= 'sex', columns='smoker', values='total_bill', aggfunc='sum')

smoker      Yes       No
sex
Male    1337.07  1919.75
Female   593.27   977.68

In [16]:
# What if I want to see all the columns 
df_1 = pd.concat([df[['sex', 'smoker']], df.select_dtypes(include='number')], axis=1)
df_1.pivot_table(index='sex', columns='smoker')

# Say if we want to see only tips 
df_1.pivot_table(index='sex', columns='smoker')['tip']

df_1.pivot_table(index='sex', columns='smoker')['size']

/var/folders/xw/_lnfz_x56cn_zn8_slshkwp80000gn/T/ipykernel_2510/878825490.py:3: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  df_1.pivot_table(index='sex', columns='smoker')
/var/folders/xw/_lnfz_x56cn_zn8_slshkwp80000gn/T/ipykernel_2510/878825490.py:6: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  df_1.pivot_table(index='sex', columns='smoker')['tip']
/var/folders/xw/_lnfz_x56cn_zn8_slshkwp80000gn/T/ipykernel_2510/878825490.py:8: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  df_1.pivot_table(index='sex', columns='smoker')['size']

smoker       Yes        No
sex
Male    2.500000  2.711340
Female  2.242424  2.592593

In [30]:
# Multi dimension 

df1= df.pivot_table(index=['sex','smoker'], columns=['day','time'], values='total_bill')
df1

/var/folders/xw/_lnfz_x56cn_zn8_slshkwp80000gn/T/ipykernel_2510/3536476480.py:3: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  df1= df.pivot_table(index=['sex','smoker'], columns=['day','time'], values='total_bill')

day                 Thur               Fri                Sat        Sun
time               Lunch Dinner      Lunch  Dinner     Dinner     Dinner
sex    smoker
Male   Yes     19.171000    NaN  11.386667  25.892  21.837778  26.141333
       No      18.486500    NaN        NaN  17.475  19.929063  20.403256
Female Yes     19.218571    NaN  13.260000  12.200  20.266667  16.540000
       No      15.899167  18.78  15.980000  22.750  19.003846  20.824286

In [35]:
# Male -> Smoker -> Friday -> Lunch
df1.loc[('Male','Yes'),('Fri','Lunch')]

np.float64(11.386666666666665)

In [ ]:
# Multi indexing:
df2= df.pivot_table(index=['sex','smoker'], columns=['day','time'], aggfunc={'total_bill':'sum', 
                                                                        'size':'mean',
                                                                        'tip':'max'})

df2

/var/folders/xw/_lnfz_x56cn_zn8_slshkwp80000gn/T/ipykernel_2510/202467503.py:1: FutureWarning: The default value of observed=False is deprecated and will change to observed=True in a future version of pandas. Specify observed=False to silence this warning and retain the current behavior
  df2= df.pivot_table(index=['sex','smoker'], columns=['day','time'], aggfunc={'total_bill':'sum',

                   size                                               tip  \
day                Thur              Fri              Sat       Sun  Thur
time              Lunch Dinner     Lunch Dinner    Dinner    Dinner Lunch
sex    smoker
Male   Yes     2.300000    NaN  1.666667    2.4  2.629630  2.600000  5.00
       No      2.500000    NaN       NaN    2.0  2.656250  2.883721  6.70
Female Yes     2.428571    NaN  2.000000    2.0  2.200000  2.500000  5.00
       No      2.500000    2.0  3.000000    2.0  2.307692  3.071429  5.17

                                                total_bill                \
day                    Fri           Sat    Sun       Thur           Fri
time          Dinner Lunch Dinner Dinner Dinner      Lunch Dinner  Lunch
sex    smoker
Male   Yes       NaN  2.20   4.73  10.00    6.5     191.71   0.00  34.16
       No        NaN   NaN   3.50   9.00    6.0     369.73   0.00   0.00
Female Yes       NaN  3.48   4.30   6.50    4.0     134.53   0.00  39.78
       No        3.0  3.00   3.25   4.67    5.2     381.58  18.78  15.98


day                     Sat           Sun
time           Dinner Lunch  Dinner Lunch  Dinner
sex    smoker
Male   Yes     129.46   0.0  589.62   0.0  392.12
       No       34.95   0.0  637.73   0.0  877.34
Female Yes      48.80   0.0  304.00   0.0   66.16
       No       22.75   0.0  247.05   0.0  291.54