### What is Pandas

Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool,
built on top of the Python programming language.

https://pandas.pydata.org/about/index.html

### Pandas Series

A Pandas Series is like a column in a table. It is a 1-D array holding data of any type.

In [ ]:
# install pandas
!pip install pandas

### DATA
NAME -> Series 

AGE -> Series 

NAME | AGE | MARKS | IQ  -> Data Frame (group of series)

In [8]:
# importing pandas
import pandas as pd
import numpy as np

### Series from List

In [ ]:
# String
country= ['India', 'Nepal', 'USA']

pd.Series(country)

0    India
1    Nepal
2      USA
dtype: object

In [ ]:
# Integer:
runs =(61,51,26,34,16)
pd.Series(runs) # default for int is int64

pd.Series(runs, dtype=np.int32) # now this will have data type of int32

# As we didnt define the index, so default is 0,1,2....

0    61
1    51
2    26
3    34
4    16
dtype: int32

In [14]:
# Custom index: 
marks = [67, 26, 56, 78, 100]
subjects = ["maths", "english", "hindi", "bio", "chemistry"]

print(pd.Series(marks, index=subjects))
print()
print(pd.Series(subjects, index=marks))

maths         67
english       26
hindi         56
bio           78
chemistry    100
dtype: int64

67         maths
26       english
56         hindi
78           bio
100    chemistry
dtype: object

In [15]:
# setting the name

marks = [67, 26, 56, 78, 100]
subjects = ["maths", "english", "hindi", "bio", "chemistry"]

pd.Series(marks, index=subjects, name="Vrunda ke marks")

maths         67
english       26
hindi         56
bio           78
chemistry    100
Name: Vrunda ke marks, dtype: int64

### Series from Dictionary

In [27]:
marks = {
    "maths" : 67,
    "english" : 57,
    "science" : 78,
    "hindi" : 67
}
marks_ser = pd.Series(marks, name="Afsan ke marks")
print(marks_ser)

maths      67
english    57
science    78
hindi      67
Name: Afsan ke marks, dtype: int64

### Series Attributes

In [18]:
# size: gives us number of data point present in a series. 
marks_ser.size

4

In [22]:
# dtype: gives data type of the series 
marks_ser.dtype

dtype('int64')

In [21]:
# name: gives name of the series 
marks_ser.name

'Afsan ke marks'

In [25]:
# is_unique: tells if all the elements in the series are unique or not. return True or False
print(marks_ser.is_unique)
k=[1,23,4,42,12,33,23]
pd.Series(k).is_unique

True

False

In [26]:
# index: return all the index of the series, note in a series indexes have to be unique. 

marks_ser.index

Index(['maths', 'english', 'science', 'hindi'], dtype='object')

In [ ]:
# values: returns all the value of the series. 

marks_ser.values

array([67, 57, 78, 67])

### Reading series