In [1]:
import numpy as np
import pandas as pd

### Goal: To clean imdb movie dataset

In [2]:
imdb= pd.read_csv('/Users/vrunda/Library/CloudStorage/GoogleDrive-shahvrunda231296@gmail.com/.shortcut-targets-by-id/1If4Xq7JBYnZ3iRTOYUU8DDWlZlr7e5rJ/Dataset, Assignments, Interview Prep - D1/dataset/IMDB Dataset.csv')

In [3]:
imdb.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [4]:
imdb.shape

(50000, 2)

In [5]:
imdb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   review     50000 non-null  object
 1   sentiment  50000 non-null  object
dtypes: object(2)
memory usage: 781.4+ KB

In [6]:
imdb.describe()

                                                   review sentiment
count                                               50000     50000
unique                                              49582         2
top     Loved today's show!!! It was a variety and not...  positive
freq                                                    5     25000

In [7]:
imdb.iloc[0]

review       One of the other reviewers has mentioned that ...
sentiment                                             positive
Name: 0, dtype: object

In [8]:
imdb.iloc[0]['review']

"One of the other reviewers has mentioned that after watching just 1 Oz episode you'll be hooked. They are right, as this is exactly what happened with me.<br /><br />The first thing that struck me about Oz was its brutality and unflinching scenes of violence, which set in right from the word GO. Trust me, this is not a show for the faint hearted or timid. This show pulls no punches with regards to drugs, sex or violence. Its is hardcore, in the classic use of the word.<br /><br />It is called OZ as that is the nickname given to the Oswald Maximum Security State Penitentary. It focuses mainly on Emerald City, an experimental section of the prison where all the cells have glass fronts and face inwards, so privacy is not high on the agenda. Em City is home to many..Aryans, Muslims, gangstas, Latinos, Christians, Italians, Irish and more....so scuffles, death stares, dodgy dealings and shady agreements are never far away.<br /><br />I would say the main appeal of the show is due to the fact that it goes where other shows wouldn't dare. Forget pretty pictures painted for mainstream audiences, forget charm, forget romance...OZ doesn't mess around. The first episode I ever saw struck me as so nasty it was surreal, I couldn't say I was ready for it, but as I watched more, I developed a taste for Oz, and got accustomed to the high levels of graphic violence. Not just violence, but injustice (crooked guards who'll be sold out for a nickel, inmates who'll kill on order and get away with it, well mannered, middle class inmates being turned into prison bitches due to their lack of street skills or prison experience) Watching Oz, you may become comfortable with what is uncomfortable viewing....thats if you can get in touch with your darker side."

In [9]:
imdb.duplicated().sum()
# number of duplicates

np.int64(418)

In [10]:
imdb[imdb.duplicated()]

                                                  review sentiment
3537   Quite what the producers of this appalling ada...  negative
3769   My favourite police series of all time turns t...  positive
4391   Beautiful film, pure Cassavetes style. Gena Ro...  positive
6352   If you liked the Grinch movie... go watch that...  negative
6479   I want very much to believe that the above quo...  negative
...                                                  ...       ...
49912  This is an incredible piece of drama and power...  positive
49950  This was a very brief episode that appeared in...  negative
49984  Hello it is I Derrick Cannon and I welcome you...  negative
49986  This movie is a disgrace to the Major League F...  negative
49991  Les Visiteurs, the first movie about the medie...  negative

[418 rows x 2 columns]

In [11]:
# We are going to drop this duplicates

imdb= imdb.drop_duplicates()

In [12]:
imdb.shape

(49582, 2)

In [13]:
# 1. we want to make this data standard 

# Converting it to lower case 
imdb['review']= imdb['review'].str.lower()

In [14]:
# Removing white spaces from the review from beginning and the end. TRIM in sql -> Pandas Strip 

imdb['review']= imdb['review'].str.strip()

In [15]:
# Next we want to remove html tags - <starting and ending with> 

imdb['review']= imdb['review'].str.replace("<.*>", "", regex=True)

In [16]:
imdb.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. the realism rea...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

In [17]:
# next we want to remove url 

# https://edmonk.in, www.edmonk.in 

imdb['review']= imdb['review'].str.replace('https?:\s?[//][^\s]+', "", regex= True )

<>:5: SyntaxWarning: invalid escape sequence '\s'
<>:5: SyntaxWarning: invalid escape sequence '\s'
/var/folders/xw/_lnfz_x56cn_zn8_slshkwp80000gn/T/ipykernel_5453/821879632.py:5: SyntaxWarning: invalid escape sequence '\s'
  imdb['review']= imdb['review'].str.replace('https?:\s?[//][^\s]+', "", regex= True )

In [18]:
imdb[imdb['review'].str.contains('http')]

Empty DataFrame
Columns: [review, sentiment]
Index: []

In [19]:
# Package is very famous package to clean spelling mistakes. 

from textblob import TextBlob

text= "hi I can drve at nght"
TextBlob(text).correct() # this is text blob object. 

TextBlob(text).correct().string

'hi I can drove at night'

In [20]:
# # We want to send each row review to TextBlob, correct it and send it back. 
# # Two ways to do the same: Either For loop or apply function 

# def spelling_correction(text):
#     return TextBlob(text).correct().string 

# imdb['review'].apply(spelling_correction)

In [21]:
imdb.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production. the realism rea...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically there's a family where a little boy ...  negative
4  petter mattei's "love in the time of money" is...  positive

In [22]:
# Next we want to remove punctuations we have

import string 
string.punctuation

def remove_punctuation(text): 
    for i in string.punctuation: 
        if i in text:
            text= text.replace(i, "")

    return text 

imdb['review']=imdb['review'].apply(remove_punctuation)

In [23]:
imdb.head()

                                              review sentiment
0  one of the other reviewers has mentioned that ...  positive
1  a wonderful little production the realism real...  positive
2  i thought this was a wonderful way to spend ti...  positive
3  basically theres a family where a little boy j...  negative
4  petter matteis love in the time of money is a ...  positive

In [27]:
imdb['char_length']= imdb['review'].apply(lambda x: len(x.split()))

In [28]:
imdb.head()

                                              review sentiment  char_length
0  one of the other reviewers has mentioned that ...  positive          171
1  a wonderful little production the realism real...  positive           63
2  i thought this was a wonderful way to spend ti...  positive          117
3  basically theres a family where a little boy j...  negative           43
4  petter matteis love in the time of money is a ...  positive           62